fi2/fi2validationlist_002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Anders Myrén (Anders Myrén AB) -->
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by ANDERS MYREN (ANDERS MYREN AB) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Kurt Löwnertz (SWECO Connect AB) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>Fi2xml Class and value list schema</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Based on fi2 schema 1.3</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Version 2 (002)</xs:documentation>
	</xs:annotation>
	<xs:element name="document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="metadata"/>
				<xs:element name="fi2referencelist" type="fi2referencelistType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Optonal list of reference class  or value lists</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="validationlist"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="metadata">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="identity" type="xs:string"/>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="version" type="xs:string"/>
				<xs:element name="date" type="xs:string"/>
				<xs:element name="author">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"/>
							<xs:element name="company" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="reference" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="validationlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="list-value" type="xs:string" maxOccurs="unbounded"/>
				<xs:element name="list-description" type="xs:string" maxOccurs="unbounded"/>
				<xs:element name="list-definition" type="xs:string" minOccurs="0"/>
				<xs:element name="list-item" type="list-itemType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="list-itemType">
		<xs:sequence>
			<xs:element name="item-value" type="xs:string">
				<xs:annotation>
					<xs:documentation>Item Code/Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="item-description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="item-datatype" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional data type code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="item-definition" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Optional  item definition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="item-referencelist" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional references to other class or value lists</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="item-referenceitem" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Reference item</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="item-referencevalue" type="xs:string">
										<xs:annotation>
											<xs:documentation>Reference code in list</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="fi2reference_id" type="xs:string">
										<xs:annotation>
											<xs:documentation>Reference list identity</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="item-publstatus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Class value publication status refererar till värdelista</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="list-item" type="list-itemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fi2referencelistType">
		<xs:annotation>
			<xs:documentation>Class- och value list reference list</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fi2referencelist_item" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Reference  list item</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="fi2reference_id" type="xs:string">
							<xs:annotation>
								<xs:documentation>Reference list id.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="fi2reference_name" type="xs:string">
							<xs:annotation>
								<xs:documentation>Name of reference class list</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="fi2reference_link" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Lino or URL toll reference class list.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
